@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

input:focus-visible {
	outline: 1px solid #17a34a;
}

/* Dark Mode Styles */
@media (prefers-color-scheme: dark) {
	button,
	td,
	th,
	input,
	label,
	p,
	a,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply text-white;
	}

	input {
		@apply bg-gray-700;
		@apply border-gray-600;
		@apply placeholder-gray-400;
		@apply focus:ring-primary-600;
		@apply focus:border-primary-600;
	}

	.modal-popup {
		@apply bg-gray-900;
	}

	.modal-popup-footer {
		@apply bg-gray-800;
	}
}

/* Light Mode Styles */
@media (prefers-color-scheme: light) {
	button,
	td,
	th,
	input,
	label,
	p,
	a,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply text-gray-900;
	}

	input {
		@apply bg-gray-50;
		@apply border-gray-300;
		@apply placeholder-gray-400;
		@apply focus:ring-primary-600;
		@apply focus:border-primary-600;
	}

	.modal-popup {
		@apply bg-gray-400;
	}

	.modal-popup-footer {
		@apply bg-gray-200;
	}
}

/* Hide the arrows for number inputs */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* For Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}
